<!DOCTYPE html>
<html lang="en">

<header>
    <% include ../shared/navigation %>
</header>

<body class="container">
    <br />
    <br />
    <div class="card" style="width: 50%; margin-left: 25%;">
        <div class="card-body">
            <h3 class="card-title"><%= job.projectName %></h3>
            <h5 class="card-subtitle">Client : <%= job.clientName %></h5><br />
            <h5 class="card-subtitle">Technologies : <%= job.technologies %></h5> <br />
            <h6 class="card-subtitle">Role : <%= job.role %></h6>
            <p class="card-text"><%= job.jobDescription %></p>
            <% if (!isManager && !job.appliedBy.includes(username)) { %>
            <td>
                <form method="POST" action="/jobs/<%= job._id %>/apply">
                    <input class="btn btn-success" type="submit" name="apply" value="Apply" />
                </form>
            </td>
            <% } %>
            <% if (!isManager && job.appliedBy.includes(username)) { %>
            <td>
                <input class="btn btn-secondary" type="submit" name="apply" value="Applied" disabled="true" />
            </td>
            <% } %>
        </div>
    </div>
</body>

</html>